body  {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	background: #fff;
}

td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

img {
	border: 0px;
}

a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #036;
	font-size: 10pt;
}

a:visited {
	color: #009;
}

a:hover {
	color: #33f;
}


h1 {
	color: #003;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15pt;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 20px;
	border-bottom: solid;
	border-width: 1px;
	border-color: #ccc;
}

h2 {
	color: #036;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13pt;
	margin-top: 30px;
	margin-bottom: 5px;
	padding-bottom: 0px;
}

h2.version {
	color: #000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 10pt;
	margin-top: 30px;
	margin-bottom: 5px;
	padding-bottom: 0px;
}

H2.version .date {
	color: #999;
}

h3  {
	color: #369;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	margin-bottom: 5px;
}

OL  {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

UL  {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

LI  {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

pre {  font-size: 10pt}

/*-- navcontainer ----------------------------------------------*/

#navcontainer {
	position: absolute;
	top: 12px;
	left: 12px;
	width: 180px;
	border: 1px solid #999;
	padding: 5px;
	/*border-right:1px solid #999;*/
}

#navcontainer h1 {
	color: #003;
	font-size: 11pt;
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 5px;
	padding-top: 5px;
	border-top: solid #ccc 1px;
	border-bottom: none;
}

#navcontainer ul {
	margin: 0;
	padding: 0;
	color: #000;
	background: #fff;
}

#navcontainer ul li {
	display: inline;
}

#navcontainer ul li a {
	display: block;
	padding: 5px 5px;
	color: #000;
	text-decoration: none;
}

#navcontainer ul li a:hover {
	color: #fff;
	background: #036;
}




/*-- centercontent ----------------------------------------------*/
										
#centercontent {
	width: 500px;
	text-align: left;
	margin-left: 230px;
/*	margin-left:150px;
	margin-right:auto; */
}

/*-- topbar ------------------------------------------------------*/
										
.topbar {
	margin: 20px 0 0px;
	text-align: right;
	border-bottom: 1px solid #999;
	color: #666;
}

.topbar img {
	border: 0px;
}



/*-- footer ------------------------------------------------------*/
										
#footer {
	margin: 40px 0 80px;
	border-top: 1px solid #999;
	color: #666;
}


